extend layout

block dependencies
  script(src='socket.io/socket.io.js')
  script(src='js/index.js')

block maincontent
  input#input_search.form-control
  button#btn_search.btn.btn-default(type="button") Search
