//- Copyright(c) 2014 Jens Böttcher <eljenso.boettcher@gmail.com>

extend layout

block dependencies
  script(src='socket.io/socket.io.js')
  script(src='js/index.js')

block leftbar
  #search
    .input-group
      input#input_search.form-control(placeholder='Search')
      span.input-group-btn
        button#btn_search.btn.btn-default
          span.glyphicon.glyphicon-search
  table.table.table-bordered
    tbody#table_searchResults

block rightbar
  div
    center
      h4 Playlist (next 15 songs)
    table.table
      tbody#table_playlist
